.company{
  font-size: 1.7rem;
}
.parallax {
    /* The image used */
    background-image: url("back.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-white{
    font-family: allura;
    font-size: 5rem;
    padding-top: 70px;
  }
  .normaltext{
    font-family: roboto;
    color: white;
  }

  .container{
    margin-top: 30px;
  }

  span{
    margin-left: 53px;
  }
